@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Add a machine that @Model.Name is licensed to repair:</h1>

@if(@ViewBag.MachineId == null)
{
  <h2>There are no machines available. <br> Please @Html.ActionLink("Add a machine", "Create", "Machines").</h2>
}
else
{
  <h3>
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select machine")
    @Html.DropDownList("MachineId")

    <input type="submit" value="Save" class="btn btn-lg btn-dark"/>
  }
  </h3>
}
<div class="h4-links">
  <h4>@Html.ActionLink("Add an Engineer", "Create")</h4>
</div>