@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Engineer Details:</h1>
<h2>@Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)</h2>


@if(@Model.JoinEntities.Count == 0)
{
  <h2>There are currently no machines that this engineer is licensed to repair.</h2>
}
else 
{
  <h2>Machines engineer is licensed to repair:</h2>
  <h3>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@Html.ActionLink($"{@join.Machine.Name}", "Details", "Machines", new {id = join.MachineId})</li>
      @using (Html.BeginForm("DeleteMachine", "Engineers"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Delete" class="btn btn-dark"/>
      }
    }
  </h3>
}

<h4>@Html.ActionLink("Add a New Machine License", "AddMachine", new { id = Model.EngineerId })</h4>
<h4>@Html.ActionLink("Edit Engineer Information", "Edit", new { id = Model.EngineerId })</h4>
<h4>@Html.ActionLink("Delete This Engineer", "Delete", new { id = Model.EngineerId })</h4>