@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Edit engineer: </h1>
<h2>Engineer to edit: @Html.DisplayFor(model => model.Name)</h2>
<h3>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name,
  new {required="required"})

  <input type="submit" value="Submit Edit" class="btn btn-lg btn-dark"/>
}
</h3>
<div class="h4-links">
  <h4>@Html.ActionLink("Delete This Engineer", "Delete", new { id = Model.EngineerId })</h4>
  <h4>@Html.ActionLink("Back to Engineer Details", "Details", new { id = Model.EngineerId })</h4>
</div>